* {
  outline: 1px solid red !important;
}

body{
  width: 100%;
}

header {
  display: flex;
  width: 100%;
  height: 60px;
  background-color: white;
  align-items: center;
}

.header__logo {
  margin-right: auto;
  margin-left: 30px;
  display: flex;
  width: 30px;
  height: 30px;
}

.header__list {
  float: right;
  margin-right: 20px;
}

.header__list li {
  list-style: none;
  float: left;
  margin-right: 20px;
}

.header__list a {
  text-decoration: none;
}

.main {
  width: 100px;
}

.commit__relative {
  position: relative;
}

.commit__img {
  margin: 0 0 0 auto;
  display: block;
  width: 50%;
}

.commit__main {
  width: 100%;
}

.commit__title {
  font-size: 55px;
  color: rgb(187, 5, 78);
  position: relative;
  top: -350px;
  margin-left: 30%;
  font-family: 'sacrament',cursive;
}

.commit__subtitle {
  margin-right: auto;
  font-size: 20px;
  color: rgb(187, 5, 78);
  position: relative;
  top: -320px;
  margin-left: 30%;
}

.commit__memo {
  color: slategray;
  position: relative;
  top: -300px;
  font-size: 15px;
  margin-left: 30%;
}

span {
  color: rgb(4, 163, 163);
}

.news {
  margin-left: 30%;
}

.news__text {
  color: rgb(187, 5, 78);
  padding-bottom: 10px;
  font-family: 'sacrament', cursive;
}

.news__title {
  font-size: 20px;
  padding-bottom: 25px;
  border-bottom: 2px solid grey;
  width: 71%;
}

.news__list {
  margin-left: 30%;
  margin-top: 30px;
  margin-right: 30%;
  border-bottom: 2px solid grey;
  padding-bottom: 40px;
  width: 50%;
}
.news__list__content {
  padding-top: 20px;
  list-style: none;
  border-bottom: 1px solid rgb(170, 160, 160);
  padding-bottom: 20px;
}

.news__btn {
  border-radius: 30px;
  background-color: rgb(187, 5, 78);
  text-align: center;
  color: aliceblue;
  margin:  10px 20px;
  font-size: 18px;
  padding: 4px 10px;
  font-size: 15px;
}

.news__list li {
  font-size: 15px;
}

.about {
  background-color: rgb(223, 216, 216);
  margin-top: 160px;
  height: 370px;
}

.about__text {
  text-align: center;
  padding-top: 20px;
  color: rgb(187, 5, 78);
  font-family: 'sacrament', cursive;
}

.about__title {
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
}

.about__content {
  margin-left: 20%;
  margin-top: 70px;
}
.about__content__sub {
  margin-left: 20%;
  margin-top: 40px;
}

.about__img {
  width: 40%;
  height: 40%;
  margin-top: -135px;
  margin-left: 55%;
}

.service__text {
  margin-left: 20%;
  margin-top: 60px;
  color: rgb(187, 5, 78);
  font-family: 'sacrament', cursive;
}

.service__title {
  margin-left: 20%;
  margin-top: 30px;
  font-size: 20px;
  margin-bottom: 20px;
}

.service__svg {
  height: 100px;
  width: 100px;
  margin-left: 30%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.service__svg__half {
  height: 100px;
  width: 100px;
  margin-top: 30px;
}

.service__content {
  color: white;
  padding: 0 20px;
  text-align: center;
  padding-bottom: 15px;
}

.service__content__half {
  display: block;
  margin-top: -100px;
  margin-bottom: 15px;
  color: white;
  margin-left: -60px;
}

.service__content__text {
  color: white;
  margin: 0 30px;
  font-size: 14px;
}

.service__content__text__half {
  margin-left: 100px;
  color: white;
  font-size: 14px;
}

.service__content__text__half p {
  margin-bottom: 10px;
  color: white;
}

.grid__parent {
  display: grid;
  grid-template-rows: 150px 150px ;
  grid-template-columns: 1fr 1fr ;
  width: 60%;
  height: 300px;
  margin-left: 20%;
}


.box1 {
  grid-column: 1/2;
  grid-row: 1/3;
  background: rgb(189, 3, 121);
}

.box2 {
  grid-column: 2/3;
  grid-row: 1/2;
  background: rgb(139, 48, 97);
  text-align: center;
}

.box3 {
  grid-column: 2/3;
  grid-row: 2/3;
  background: rgb(156, 108, 148);
  text-align: center;
}

.blog {
  background: rgb(195, 195, 200);
  height: 490px;
}

.blog__text {
  margin-left: 20%;
  margin-top: 80px;
  color: rgb(187, 5, 78);
  padding-top: 50px;
  font-family: 'sacrament', cursive;
}

.blog__title {
  margin-left: 20%;
  margin-top: 10px;
  font-size: 20px;
}

.blog__cat__box {
  position: relative;
  left: 20%;
  width: 230px;
  height: 260px;
  border-radius: 10px 10px 10px 10px;
  margin-top: 30px;
  float: left;
  margin-right: 90px;
  box-shadow: 0px 3px 0px rgba(0, 0, 0, 0);
  background: white;
}

.blog__cat__box img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.box__title  {
  display: flex;
  width: 40px;
  background: #f50283;
  color: #fff;
  padding: 3px;
  font-size: 14px;
  position: relative;
  top: -154px;
  border-radius: 10px 0 0 0;
}

.box__text {
  padding: 8px 10px;
  font-size: 9px;
}

.box__footer {
  font-size: 3px;
  padding: 0px 10px;
  padding-top: 15px;
}

.blog__link {
  width: 150px;
  height: 20px;
  padding: 15px 10px;
  border-radius: 30px;
  border: 2px solid rgb(246, 101, 246);
  background: white;
  margin: 315px auto;
  text-align: center;
  margin-left: 44%;
}

.company {
  margin-top: 70px;
  width: 100%;
}

.company__text {
  color: rgb(187, 5, 78);
  font-family: 'sacrament', cursive;
  margin-left: 25%;
}

.company__title {
  margin-top: 10px;
  font-size: 20px;
  margin-left: 25%;
}

.company__content {
  margin-top: 30px;
  margin-left: 25%;
}

table {
  border: 1px solid ;
  width: 65%;
  height: 250px;
}

th {
  border: 1px solid;
  width: 40%;
  padding: 12px;
  background: gainsboro;
  text-align: left;
}

td {
  border: 1px solid;
  padding-left: 15px;
}

.flex {
  position: absolute;
  display: flex;
  width: 100%;
}

.img__link {
  margin-top: 50px;
}

.img__link__left {
  width: 100%;
}

.img__link__right {
width: 100%;
}

.img__content__left {
position: relative;
top: 130px;
color: aliceblue;
font-size: 25px;
margin-left: 20%;
}

.img__content__right {
  position: relative;
  top: 100px;
  margin-left: 65%;
  font-size: 25px;
  color: aliceblue;
}

.last {
  margin-top: 330px;
  text-align: center;
}

.last__border {
  border-left: 3px solid purple;
  margin-left: 50%;
  margin-top: 20px;
  height: 30px;
  margin-bottom: 20px;
}

.last__link__btn {
  text-align: center;
  margin: auto;
}

.last__btn {
  display: block;
  padding: 18px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  border-radius: 30px;
  background: linear-gradient(90deg,#f50283,#701470);
  width: 160px;
  margin-left: 628px;
  box-shadow: 0px 5px 0px rgba(255, 5, 0, 0.2);
  margin-bottom: 20px;
  position: relative;
}

.last__btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 15px;
  background: url(../svg/mailicon.svg) no-repeat;
  background-size: cover;
  width: 18px;
  height: 18px;
  transform: translateY(-50%);
  text-align: left;
}

footer {
  height: 40px;
  width: 100%;
  background-color: rgb(230, 223, 223);
}

.footer__bottom {
  text-align: center;
  padding-top: 15px;
  font-size: 10px;
}