header {
  display: flex;
  width: 100%;
  height: 60px;
  background-color: white;
  align-items: center;
}

.header__logo {
  margin-right: auto;
  color: blue;
  position: relative;
  top: 0;
  left: 30px;
}

.header__list {
  display: inline;
  padding: 10px;
  float: right;
  margin-right: 20px;
}

.header__list li {
  list-style: none;
  float: left;
  margin-right: 20px;
}

.main {
  width: 100%;
}

.commit__relative {
  position: relative;
}

.commit__img {
  margin: 0 0 0 auto;
  display: block;
  width: 50%;
}

.commit__title {
  margin-right: auto;
  font-size: 45px;
  color: red;
  position: relative;
  top: -350px;
  left: 30%;
}

.commit__subtitle {
  margin-right: auto;
  font-size: 23px;
  color: red;
  position: relative;
  top: -320px;
  left: 30%;
}

.commit__memo {
  margin-right: auto;
  color: slategray;
  position: relative;
  top: -300px;
  left: 30%;
  font-size: 18px;
}

span {
  color: aqua;
}

.news {
  margin-left: 30%;
  margin-right: 30%;
}
.news__text {
  color: red;
  padding-bottom: 10px;
}

.news__title {
  font-size: 20px;
  padding-bottom: 25px;
  border-bottom: 2px solid grey;
}

.news__list {
    margin-left: 30%;
    margin-top: 30px;
    margin-right: 30%;
    border-bottom: 2px solid grey;
    padding-bottom: 25px;
}
.news__list__content {
  padding: 10px;
  margin-bottom: 18px;
  list-style: none;
  border-bottom: 1px solid rgb(170, 160, 160);
}

.news__btn {
  border-radius: 30px;
  background-color: brown;
  text-align: center;
  color: aliceblue;
  margin:  0px 20px;
  font-size: 18px;
  padding: 4px;
}

.news__list li {
  font-size: 15px;
}

.about {
  background-color: rgb(223, 216, 216);
  margin-top: 160px;
  height: 370px;
}

.about__text {
  position: relative;
  top: 30px;
  left: 47%;
  color: red;
}

.about__title {
  position: relative;
  top: 30px;
  left: 41%;
  margin-top: 10px;
  font-size: 20px;
}

.about__content {
  position: relative;
  left: 30%;
  margin-top: 70px;
}
.about__content__sub {
  position: relative;
  left: 30%;
  margin-top: 40px;
}

.about__img {
position: absolute;
top: 1381px;
left: 60%;
}

.service__text {
  margin-left: 30%;
  margin-top: 60px;
}

.service__title {
  margin-left: 30%;
  margin-top: 30px;
  font-size: 20px;
  margin-bottom: 20px;
}

.grid__parent {
  display: grid;
  grid-template-rows: 120px 120px ;
  grid-template-columns: 1fr 1fr ;
  width: 50%;
  margin-left: 30%;
}

.grid__parent div {
  font-size: 14px;
}

.box1 {
  grid-column: 1/2;
  grid-row: 1/3;
  background: pink;
  text-align: center;
}

.box2 {
  grid-column: 2/3;
  grid-row: 1/2;
  background: plum;
  text-align: center;
}

.box3 {
  grid-column: 2/3;
  grid-row: 2/3;
  background: palevioletred;
  text-align: center;
}

.blog {
  background: rgb(195, 195, 200);
  height: 420px;
}

.blog__text {
  position: relative;
  left: 30%;
  margin-top: 100px;
  color: red;
  padding-top: 50px;
}

.blog__title {
  position: relative;
  left: 30%;
  margin-top: 15px;
  font-size: 20px;
}

.blog__cat__box {
  position: relative;
  left: 30%;
  width: 180px;
  height: 200px;
  border-radius: 10px 10px 10px 10px;
  margin-top: 30px;
  float: left;
  margin-right: 30px;
  box-shadow: 0px 3px 0px rgba(0, 0, 0, 0);
  background: white;
}

.blog__cat__box img {
  width: 100%;
}

.box__text {
  padding: 8px 10px;
  font-size: 9px;
}

.box__footer {
  font-size: 3px;
  padding: 0px 10px;
}

.blog__link {
  margin-top: 260px;
  position: absolute;
  left: 45%;
  width: 150px;
  padding: 10px 0;
  border-radius: 30px;
  text-align: center;
  display: block;
  border: 1px solid rgb(246, 101, 246);
  background: white;
}

.company {
  margin-top: 70px;
  position: relative;
  left: 35%;
}

.company__text {
  color: red;
}

.company__title {
  margin-top: 10px;
  font-size: 20px;
}

.company__content {
  margin-top: 30px;
}

table {
  border: 1px solid ;
  width: 35%;
  height: 250px;
}

th {
  border: 1px solid;
  width: 30%;
  padding: 12px;
  background: gainsboro;
}

td {
  border: 1px solid;
  padding-left: 15px;
}

.img__link {
  margin-top: 40px;
  position: relative;
  display: block;
}

.img__link__left {
  width: 50%;
  margin: auto 0 0 0;
}

.img__link__right {
  width: 50%;  
  margin: 0 0 0 auto;
}